.u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5-1 .u-group-1 {
  width: 890px;
  min-height: 454px;
  background-image: none;
  margin: 20px auto;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-5-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5-1 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-5-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-5-1 .u-group-1 {
    width: 720px;
    margin: 46px 0 33px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-group-1 {
    width: 540px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-group-1 {
    width: 340px;
  }
}.u-section-5-2 {
  background-image: none;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5-2 .u-group-1 {
  width: 890px;
  min-height: 454px;
  background-image: none;
  margin: 20px auto;
}

.u-section-5-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-5-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5-2 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-5-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-5-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-group-1 {
    width: 540px;
  }

  .u-section-5-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-group-1 {
    width: 340px;
  }
}.u-section-5-3 {
  background-image: none;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5-3 .u-group-1 {
  width: 890px;
  min-height: 454px;
  background-image: none;
  margin: 20px auto;
}

.u-section-5-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-5-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5-3 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-5-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-5-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-group-1 {
    width: 540px;
  }

  .u-section-5-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-group-1 {
    width: 340px;
  }
}.u-section-5-4 {
  background-image: none;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5-4 .u-group-1 {
  width: 890px;
  min-height: 454px;
  background-image: none;
  margin: 20px auto;
}

.u-section-5-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-5-4 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5-4 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-5-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-5-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-group-1 {
    width: 540px;
  }

  .u-section-5-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-group-1 {
    width: 340px;
  }
}.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1369px;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 102px;
  margin: 167px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 80px 56px 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 19px 112px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 40px 476px 0 auto;
  padding: 9px 31px 11px 30px;
}

.u-section-1 .u-video-1 {
  width: 852px;
  height: 493px;
  margin: 40px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-1 .u-image-1 {
    height: 103px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 80px;
    margin-right: 417px;
  }

  .u-section-1 .u-video-1 {
    width: 456px;
    height: 257px;
    margin-top: 80px;
    margin-left: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 203px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-video-1 {
    margin-right: 97px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 229px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-video-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 207px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 40px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-text-1 {
  font-family: Coustard;
  font-size: 3.75rem;
  width: 394px;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  width: 670px;
  margin: 22px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 388px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 60px auto;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-text-1 {
    width: 296px;
  }

  .u-section-2 .u-list-1 {
    min-height: 320px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-2 .u-text-1 {
    width: 376px;
  }

  .u-section-2 .u-list-1 {
    min-height: 772px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-top: 20px;
    margin-bottom: 49px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 554px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 47px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 12px 44px 13px;
}

.u-section-3 .u-video-1 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-video-1 {
    min-height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-video-1 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-video-1 {
    min-height: 264px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-text-1 {
  margin: 50px 429px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 144px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  width: 99px;
  height: 99px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 188px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  width: 123px;
  height: 124px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  width: 99px;
  height: 99px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 188px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-image-4 {
  width: 130px;
  height: 128px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-image-5 {
  width: 99px;
  height: 99px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 188px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-image-6 {
  width: 128px;
  height: 133px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 329px;
    margin-right: 329px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 44px;
    margin-left: 44px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 22px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-4 .u-image-2 {
    width: 117px;
    height: 118px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 24px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 155px;
  }

  .u-section-4 .u-image-4 {
    width: 117px;
    height: 115px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 155px;
  }

  .u-section-4 .u-image-6 {
    width: 117px;
    height: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 219px;
    margin-right: 219px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 42px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 34px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 229px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 45px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 229px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2412px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 755px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 217px;
  }
}.u-block-bfe6-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bfe6-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-bfe6-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}